body{
    background-image: url("image/AI-at-Core-of-Claims-Ops.webp") ;
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}
